### YOU CAN MANUALLY PUT YOUR ENV HERE ###


### DEV ENVIRONMENT ###
DEV_JDBC_POSTGRES_DB=
DEV_POSTGRES_USERNAME=
DEV_POSTGRES_PASSWORD=
DEV_REDIS_HOST=
DEV_REDIS_PASSWORD=

### DOCKER ENVIRONMENT ###
DOCK_JDBC_POSTGRES_DB=
DOCK_POSTGRES_USERNAME=
DOCK_POSTGRES_PASSWORD=
DOCK_REDIS_PASSWORD=

### JWT ENVIRONMENT ###
JWT_SECRET=
JWT_TOKEN_EXPIRATION=

### PAYPAL ENVIRONMENT ###
PAYPAL_RETURN_URL=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_IS_SANDBOX=

### CLOUDINARY ENVIRONMENT ###
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=